{% load static %}


<footer class="footer">
    <div class="contaiiner">
     <div class="row">
       <h1 style="margin-right: 100px;color: #fff;">AL-AMAL</h1>
       <div class="footer-col">
         <h4>Information</h4>
         <ul>
           <li><a href="https://www.google.com/search?q=hopital+lalla+hasna+youssoufia+localisation%00&sca_esv=564661802&sxsrf=AB5stBgl-7iJzdJbgfxMqO0sFdQRaeHFTA%3A1694518455229&ei=t0wAZZzWDb7skdUPz_-DyAI&oq=hopital+lalla+hasna+youssoufia+Localisation&gs_lp=Egxnd3Mtd2l6LXNlcnAiK2hvcGl0YWwgbGFsbGEgaGFzbmEgeW91c3NvdWZpYSBMb2NhbGlzYXRpb24qAggAMgUQIRigAUj8PFDACFinMXAAeACQAQCYAekKoAHiXKoBCTQtMy4yLjUuNLgBAcgBAPgBAcICCBAAGIAEGLADwgIGEAAYFhgewgIHECEYoAEYCuIDBBgAIEGIBgGQBgE&sclient=gws-wiz-serp#">Localisation</a></li>
           <li><a href="#">privacy policy</a></li>
           <li><a href="#">affiliate program</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Quick Links</h4>
         <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'about' %}">About</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#contact">Contact</a></li>
         </ul>
       </div>
     </div>
    </div>
    <div class="copyright"><p>&copy; 2023 Association AL-ALAMAL. All rights reserved.</p></div>
 </footer>